<%= render "shared/header" %>

<div class="form_show_wrapper">
  <div class="book-show-form">
    <div class="book-show">
        <h1 class="book_hedding">
          <%= @book.title %>
        </h1>
        <%= link_to @book.user.nickname, "hoge", class: :book__user %>
        <% if user_signed_in? && current_user.id == @book.user_id %>
          <div class="prototype__manage">
            <%= link_to "編集する", edit_book_path(@book.id), class: :book__btn %>
            <%= link_to "削除する", book_path(@book.id), method: :delete, class: :book__btn %>
          </div>
        <% end %>
        <!--image-text cssがかぶっている-->
        <div class="image-text">
          <%= image_tag @book.image %>
        </div>

        <div class="new-book">
          <div class="book-name">
            著者
          </div>
          <%= @book.author %>
        </div>

        <div class="new-book">
          <div class="book-name">
            カテゴリー
          </div>
          <%= @book.genre.name %>
        </div>

        <div class="new-book">
          <div class="book-name">
            商品の説明
          </div>
          <%= @book.description %>
        </div>


        <div class="books_comments">
          <% if user_signed_in? %>
            <%= form_with(model: [@book, @comment], local: true) do |f| %>
              <div class="field">
                <%= f.label :text, "コメント" %><br />
                <%= f.text_field :text %>
              </div>
              <div class="actions">
                <%= f.submit "送信する", class: :form_btn %>
              </div>
            <% end %> 
          <% end %>
          <ul class="comments_lists">
            <% @comments.each do |comment| %>
              <li class="comments_list">
                <%=  comment.text %>
                <%= link_to comment.user.nickname, user_path(comment.user_id), class: :comment_user %>
              </li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
